<h1><%= @question.title %></h1>

<p><%= @question.body %></p>

<h2>Responses</h2>

<% @question.responses.each do |r| %>
<div><%= r.body %></div>
<hr>
<% end %>

<p><%= link_to "Submit a response", new_question_response_path(@question) %></p>

<p><%= link_to "Back", questions_path %></p>
