<h1><%= @question.title %></h1>

<p><%= @question.body %></p>
<% if !@question.image_file_name %>
  <%= image_tag @question.image.url(:medium) %>
<% end %>

<h2>Responses</h2>

<% @question.responses.each do |r| %>
<div><%= r.body %></div>
<hr>
<% end %>

<% if current_user %>
<p><%= link_to "Submit a response", new_question_response_path(@question) %></p>
<% else %>
<p>You must be logged in to ask a question or submit a response.</p>
<% end %>

<p><%= link_to "Back", questions_path %></p>
