<%= render "layouts/errors", :object => @user %>

<%= form_for @user, :html =>{ :multipart => true, :class => "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :username, :class => "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.text_field :username %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, :class => "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, :class => "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :avatar, :class => "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.file_field :avatar, :class => "btn btn-default" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <%= f.submit :class => "btn btn-success" %>
      <%= link_to "Cancel", :back, :class => "btn btn-warning" %>
    </div>
  </div>
<% end %>
