<!DOCTYPE html>
<html>
<head>
  <title>QStack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section class="container">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div data-alert class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" role="alert"><%= msg %></div>
      <% end %>
    <% end %>
  </section>


  <header>
    <%= link_to "Home", root_path %> | <%= link_to "Sign up", new_user_path %>
  </header>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
